{% extends "papaya/base.html" %}

{% block content %}
<div class="container well" id="bodyBox">
    <div class="row">
        <h1>{{ user.username }}'s Blogs</h1>
    </div>
    <div class="row">
        <a class="btn btn-default" href="{% url 'papaya:blogs_create' %}">Add blog</a>
    </div>
    {% for blog in blogs %}
        <a href="{% url 'papaya:blogs_view' blog.id%}">
            <div class="row blog">{{ blog }}
            </div>
        </a>
    {% endfor %}
    <br>
</div>
{% endblock %}