{% extends "papaya/base.html" %}
{% load static %}

{% block content %}
<div class="container well" id="bodyBox">
    <br>
    <div class="row">
        <div class="col-sm-5 container">
            <div class="row">
                {% if blog.image %}
                <img src="{{ blog.image.url }}">
                {% else %}
                <img src="{% static 'papaya/images/empty.png' %}">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5 container">
            <div class="row">
                <h1>{{ blog.title }}</h1>
            </div>
            <div class="row">
                <h3><i>By: <a href="{% url 'papaya:profile' blog.author.id%}">{{ blog.author.username }}</a></i></h3>
            </div>
            <br>
            <div class="row">
                {{ blog.category }}
            </div>
            <br>
            <div class="row">
                <p><i>Created:
                {{ blog.date_created }}
                </i></p>
                <p><i>Updated:
                {{ blog.date_updated }}
                </i></p>
            </div>
            <br>
            <div class="row">
                {{ blog.content }}
            </div>
            <br>
            {% if user.is_authenticated and blog.author == user %}
                <form method="post">
                    {% csrf_token %}
                    <button name="action" class="btn btn-default" type="submit" value="edit">Edit</button>
                    <button name="action" class="btn btn-default" type="submit" value="delete">Delete</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}