{% extends 'papaya/base.html' %}
{% load static %}

{% block content %}
<div class="container well" id="bodyBox">
    <div class="row">
        <h1>Your profile</h1>
    </div>
    <br>
    <div class="row">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="col-sm-4 container">
                <div class="row">
                    {% if profile_image %}
                    <img src="{{ profile_image.url }}">
                    {% else %}
                    <img src="{% static 'papaya/images/anon.jpeg' %}">
                    {% endif %}
                </div>
                <div class="row">
                    {{ form.image.errors }}
                    {{ form.image }}
                </div>
            </div>
            <div class="col-sm-7 container">
                    <div class="form-group">
                        {{ user.username }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email.errors }}
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        {{ form.first_name.label }}
                        {{ form.first_name.errors }}
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label }}
                        {{ form.last_name.errors }}
                        {{ form.last_name }}
                    </div>
                    <br>
                    <button class="btn btn-default" type="submit">Done</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}