{% extends 'papaya/base.html' %}

{% block content %}
<div class="container well" id="bodyBox">
    <div class="row">
        <h1>{{ profile.user.username }}'s profile</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 container">
            <div class="row">
                <img src="{{ profile.image.url }}">
            </div>
        </div>
        <div class="col-sm-7 container">
            <h2>{{ profile.user.first_name|add:" "|add:profile.user.last_name }}</h2>
            <h3><i>{{ profile.user.email }}</i></h3>
            {% if user.id == profile.user.id %}
            <a class="btn btn-default" href="{% url 'papaya:profile_edit' %}">Edit</a>
            <a class="btn btn-default" href="{% url 'papaya:profile_changepass' %}">Change password</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}