<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>
    body{
        background-color: lemonchiffon;
    }
    .navbar{
        background-color: darkorange;
        box-shadow: 0px 1px 10px grey;
    }
    .well{
        background-color: white;
        padding: 20px 80px 60px 80px;
    }
</style>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'papaya:listing' %}">Logo</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                {% if user.is_authenticated %}
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="{% url 'papaya:profile' %}">My profile</a>
                        </li>
                        <li>
                            <a href="{% url 'papaya:blogs' %}">My blogs</a>
                        </li>
                        <li>
                            <a href="{% url 'papaya:profile_logout' %}">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    Account
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#">Sign in</a>
                        </li>
                        <li>
                            <a href="{% url 'papaya:profile_create' %}">Create Account</a>
                        </li>
                    </ul>
                {% endif %}
            </li>
        </ul>
        <form class="navbar-form navbar-right" action="#">
            <div class="form-group">
                <input style="width:300px" class="form-control" type="text" placeholder="search" name="search">
            </div>
            <button class="btn" type="submit">S</button>
        </form>
    </div>
</nav>
<br>
<br>
<br>
<br>
<div class="container well" id="bodyBox">

    {% if error %}
    <p style="font-color:red">Invalid username or password</p>
    {% endif %}
    <div class="row">
        <form name="loginUser" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <br>
            <button class="btn btn-default" type="submit">Login</button>
        </form>
    </div>
</div>